<template name="admin">

    <div class="col-md-3" style="margin-left: 5%">
        <div style="margin-left: 40%; color: black; font-size: 100px">{{contador.value}}</div>
    <button id="contador-mas" type="button" class="btn btn-success btn-lg btn-block">+</button>
    <button id="contador-menos" type="button" class="btn btn-primary btn-lg btn-block">-</button>
    <button id="contador-reset" type="button" class="btn btn-danger btn-lg btn-block">RESET</button>
    </div>

    <div class="col-md-3" style="margin-left: 5%">
        <div style="margin-left: 40%; color: black; font-size: 100px">{{contador2.value}}</div>
        <button id="contador2-mas" type="button" class="btn btn-success btn-lg btn-block">+</button>
        <button id="contador2-menos" type="button" class="btn btn-primary btn-lg btn-block">-</button>
        <button id="contador2-reset" type="button" class="btn btn-danger btn-lg btn-block">RESET</button>
    </div>

    <div class="col-md-3" style="margin-left: 5%">
        <div style="margin-left: 40%; color: black; font-size: 100px">{{contador3.value}}</div>
        <button id="contador3-mas" type="button" class="btn btn-success btn-lg btn-block">+</button>
        <button id="contador3-menos" type="button" class="btn btn-primary btn-lg btn-block">-</button>
        <button id="contador3-reset" type="button" class="btn btn-danger btn-lg btn-block">RESET</button>
    </div>


</template>